<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
    <link rel="icon" href="../favicon.avif">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css">
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
    <header>
        <nav>
            <div class="ul-views">
                <img src="../assets/images/logotipo.webp" height="500" width="500" alt="imagen palmeras y playa" class="logotipo-views">
                <a href="../index.html">Inicio</a>
                <a href="../views/galeria.html">Galeria</a>
                <a href="../views/presupuesto.html">Presupuesto</a>
                <a href="#" class="index">Contacto</a>
            </div> 
        </nav>
    </header>

    <main>
        
        <div id="map">

        </div>

    </main>

    <footer>
        <div class="logo-box">
            <a href="https://www.instagram.com/"><img src="../assets/images/Instagram-logo.png" alt="logo Instagram" height="2048" width="2048" class="logos"></a>
            <a href="https://es-la.facebook.com/login/device-based/regular/login/"><img src="../assets/images/logo-facebook.png" alt="logo Facebook" height="600" width="600" class="logos"></a>
            <a href="https://www.youtube.com/"><img src="../assets/images/logo-youtube.png" alt="logo Youtube" height="200" width="200" class="logos"></a>
        </div>

        <p>Todos los derechos reservados &#169; <br>
        Travel Paradise 2021. Balcarce 1435, Rosario, Provincia de Santa Fe, Argentina <br>
            galguito@gmail.com. 0341-155-996600. <br>
            Aviso legal: derechos de privacidad, terminos y condiciones</p>
    </footer>



    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js"></script>
    <script src="../java/script-mapa.js"></script>
</body>
</html>